*              -text
*.bat           text eol=crlf
.gitattributes  text eol=lf
.gitignore      text eol=lf
gradlew         text eol=lf
*.gradle        text eol=lf
*.info          text eol=lf
*.java          text eol=lf
*.json          text eol=lf
*.lang          text eol=lf
*.mcmeta        text eol=lf
*.properties    text eol=lf
*.txt           text eol=lf
